<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@RenderTitleSegments(Site.SiteName)</title>

        <resources type="Meta" />
        <resources type="HeadLink" />
        <resources type="Stylesheet" />
        <resources type="HeadScript" />

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
        <link rel="stylesheet" href="/Moov2.OrchardCore.BlogTheme/css/style.css">

        <script src="/Moov2.OrchardCore.BlogTheme/js/scripts.js" async></script>
    </head>
    <body>
        <header class="header">
            @await RenderSectionAsync("Header", required: false)
        </header>

        <main>            
            @await RenderBodyAsync()
        </main>

        @await RenderSectionAsync("Footer", required: false)

        <resources type="FootScript" />
    </body>
</html>