/* ==========================================================================
   #HEADING
   ========================================================================== */

/**
 * h1, h2, h3, etc...
 */

h1,
h2,
h3 {
    @include rem(margin-bottom, $spacing-large);
    margin-top: 0;

    @include themify($themes) {
        font-family: themed('fontFamily.default');
        font-weight: themed('fontWeight.bold');
    }
}

h1 {
    @include themify($themes) {
        font-family: themed('fontSize.primary');
        line-height: themed('lineHeight.primary');
    }
}

h2 {
    @include themify($themes) {
        font-family: themed('fontSize.secondary');
        line-height: themed('lineHeight.secondary');
    }
}

h3 {
    @include themify($themes) {
        font-family: themed('fontSize.tertiary');
        line-height: themed('lineHeight.tertiary');
    }
}