/* ==========================================================================
   #LINK
   ========================================================================== */

a {
    @include themify($themes) {
        color: themed('color.link.default');
    }

    &:active,
    &:hover {
        @include themify($themes) {
            color: themed('color.link.default');
        }

        text-decoration: none;

        > svg {
            @include themify($themes) {
                fill: themed('color.link.default');
            }
        }
    }
}

h1, h2, h3 {
    > a {
        @include themify($themes) {
            color: themed('color.link.default');
        }
        
        text-decoration: none;
    }
}
