/* ==========================================================================
   #LINK
   ========================================================================== */

a {
    color: $link-color-default;

    &:active,
    &:hover {
        color: $link-color-default;
        text-decoration: none;

        > svg {
            fill: $link-color-default;
        }
    }
}

h1, h2, h3 {
    > a {
        color: $text-color-default;
        text-decoration: none;
    }
}
