/* ==========================================================================
   #MAIN
   ========================================================================== */

/**
 * Apply styles to `main` container around content.
 */

main {
    display: block;
    @include rem(margin-bottom, $spacing-x-large);
    margin-left: auto;
    margin-right: auto;
    @include rem(padding-left, $spacing-default);
    @include rem(padding-right, $spacing-default);
    position: relative;
    @include rem(max-width, $layout-content-width);
    width: 100%;
}