/* ==========================================================================
   #PRE
   ========================================================================== */

/**
 * Wrapper around code block.
 */

pre {
    display: block;
    @include rem(margin-bottom, $spacing-large);
    max-width: 100%;
    @include rem(padding, $spacing-large);

    @include themify($themes) {
        background-color: themed('background.code');
        border-radius: themed('border.radius');
    }

    white-space: pre-wrap;
    word-wrap: break-word;
}