/* ==========================================================================
   #IMAGE
   ========================================================================== */

.image--logo {
    display: block;

    @include themify($themes) {
        height: themed('image.logo.height');
        width: themed('image.logo.width');
    }
}