/* ==========================================================================
   #TEXT
   ========================================================================== */

/**
 * Variety of classes for customising the display of text.
 */

.text--light {
    @include themify($themes) {
        color: themed('color.text.light');
    }
}

.text--small {
    @include themify($themes) {
        font-size: themed('fontSize.small');
    }
}

.text--meta {
    @include rem(margin-bottom, $spacing-small);
    
    @include themify($themes) {
        color: themed('color.text.light');
        font-size: themed('fontSize.small');
    }
}