/* ==========================================================================
   #FONT
   ========================================================================== */

/** 
 * Settings to control typography.
 */

$font-family-default: 'Roboto', sans-serif;
$font-family-heading: 'Source Sans Pro', sans-serif;

$font-size-default-em: 1.6em;