/* ==========================================================================
   #FONT
   ========================================================================== */

/** 
 * Settings to control typography.
 */

$font-family-default: 'Roboto', sans-serif;

$font-size-default-em: 1.8em;

$font-size-primary: 4rem;
$font-size-secondary: 3rem;
$font-size-tertiary: 2.5rem;
$font-size-small: 1.5rem;

$line-height-primary: 4.6rem;
$line-height-secondary: 3.3rem;
$line-height-tertiary: 2.8rem;