/* ==========================================================================
   #IMAGE
   ========================================================================== */

$image-logo-height: 8rem;
$image-logo-width: 12rem;

$icon-social-dimension: 30px;
$icon-social-fill: #54595f;