/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/**
 * Control dimensions & spacing, favouring `rem` unit.
 */

$layout-header-width: 85rem;
$layout-content-width: 65rem;

$spacing-default: 1.5rem;
$spacing-large: 3rem;