/* ==========================================================================
   #HEADER
   ========================================================================== */

/**
 * Header containing a logo & navigation.
 */

.header {
    display: block;
    @include rem(margin-bottom, $spacing-large);
    margin-left: auto;
    margin-right: auto;
    @include rem(padding-bottom, $spacing-large);
    @include rem(padding-left, $spacing-default);
    @include rem(padding-right, $spacing-default);
    @include rem(padding-top, $spacing-large);
    position: relative;
    @include rem(max-width, $layout-content-width);
    width: 100%;

    @include themify($themes) {
        border-bottom: themed('border.thickness') themed('border.style') themed('border.color');
    }
}

    .header__title {
        @include rem(margin-bottom, $spacing-small);

        @include themify($themes) {
            font-size: themed('fontSize.secondary');
            font-weight: themed('fontWeight.bold');
        }
        
    }