/* ==========================================================================
   #ICON
   ========================================================================== */

/**
 * Controls various icons displayed.
 */

.icon {
    display: block;
}

.icon--social {
    @include themify($themes) {
        height: themed('icon.social.dimension');
        width: themed('icon.social.width');

        fill: themed('icon.social.fill');
    }
}
